
html,body{
    height:100%;
    width:100%
    background-attachment: fixed;
    /*height:100%;*/
    /*width:100%;*/
    background: url(../images/stage.jpg) center center no-repeat ;
    background-size: cover;
    color:black;
}
.fa:hover{
    cursor: pointer;
}
.yo{
    color: white;
}
#stage {
    height:100%;
    width:100%;
    /*background: url(../images/stars.jpg) center center no-repeat ;*/
    /*background-size: cover;*/
    /*color:black;*/
}



